<!-- TOP NAVIGATION -->
<nav>
  <% if(!user){ %>
  <p class="welcome">Log in to get started</p>
  <img src="logo.png" alt="Logo" class="logo" />
  <form class="login login__form">
    <input
      type="text"
      placeholder="user"
      class="login__input login__input--user"
    />
    <!-- In practice, use type="password" -->
    <input
      type="password"
      placeholder="PIN"
      maxlength="4"
      class="login__input login__input--pin"
    />
    <button id="logIn_btn" class="login__btn">&rarr;</button>
  </form>
  <% } else { %>
  <p class="welcome">Hi <%= user.fullName; %></p>
  <img src="logo.png" alt="Logo" class="logo" />
  <form class="login">
    <button id="logOut_btn" class="login__btn">Logout &rarr;</button>
  </form>
  <% } %>
</nav>
