<!DOCTYPE html>
<html lang="en">
  <%- include('includes/_head'); %>
  <body>
    <%- include('includes/_nav'); %>

    <main class="app">
      <h2>404</h2>
      <p>Page not found!</p>
    </main>

    <%- include('includes/_footer'); %>
  </body>
</html>
