<!DOCTYPE html>
<html lang="en">
  <%- include('includes/_head'); %>
  <body>
    <%- include('includes/_nav', {user: null}); %>

    <div class="frontmsn">
      <img src="./img/login.png" />
    </div>

    <%- include('includes/_footer'); %>
  </body>
</html>
